/* Place CSS styles here */

.container {
  position: relative;
  text-align: center;
  color: white;
}

.greenville-image {
  filter: blur(1.5px);
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* size of font when resized for phone */


/* size of header for phone */
@media (max-width: 480px)  {
  h1 {
    font-size: 5 rem;
  }
}
/* size of header for tablet */
@media (max-width: 481px) and (max-width: 767px) {
  h1 {
    font-size: 5 rem;
  }
}
/* size of header for desktop */
@media (min-width: 768px)  {
  h1 {
    font-size: 5 rem;
  }
}

.greenville-image{
  max-height: 20%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  text-align: center;
  font-size: 40pt;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding-block: 80px;
}

.container {
  position: relative;
  text-align: center;
  color: #245c2a;
}

p {
  padding: 30px;
}


.body content {
  border-width: 10px;
  padding: 50px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #245c2a;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all .25s ease;
}
  
li a:hover {
  background-color: #153619;
}

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

.container {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 10px;
}

input[type=submit] {
  background-color: #245c2a;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: .6;
}

.newsletter{
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.night-image > div{
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  font-size: x-large;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #719f76;
}

.flex-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #245c2a;
}

.flex-container > div {
  display: flex;
  justify-content: center;
  background-color: #245c2a;
  margin: 5px;
  align-items: stretch;
}